* {
  padding: 0%;
  margin: 0%;
}

.header {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 0,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url(/imgs/wb001.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-position: top;
  background-attachment: fixed;
}

.navbar {
  display: flex;
  padding-top: 30px;
  gap: 10px;
  padding-left: 40px;
  position: sticky;
  z-index: 1;
  /* justify-content: flex-start;
  flex-grow: 1;
  transition: all 0.1s ease 0s;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.07);
  border-bottom: none;
  background: rgba(255, 255, 255, 0.95) none repeat center center !important; */
}

.logo {
  border: 2px solid white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.logo h1 {
  color: white;
  text-align: center;
  font-size: 45px;
}

.list ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.list ul li a {
  text-decoration: none;
  color: white;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 600px;
}

.tel {
  color: white;
  display: flex;
  gap: 10px;
  align-items: center;
}

.phone {
  font-size: 60px;
}
.num {
  font-size: 18px;
}

.text-1 {
  text-align: center;
  padding-top: 60px;
}

.h1 {
  color: #2bb3d5;
  font-size: 55px;
}

.h2 {
  color: white;
  font-size: 90px;
  padding-top: 30px;
}

.h3 {
  color: white;
  font-size: 40px;
}

.p1 {
  color: white;
  font-size: 40px;
}

.but {
  text-align: center;
  padding-top: 40px;
}

.but :hover {
  background-color: #31acca;
}

.but a {
  color: white;
  text-decoration: none;
}

.but-1 {
  background-color: #2bb3d5;
  border: none;
  font-size: 20px;
  height: 50px;
  width: 200px;
}
.but-2 {
  background-color: #2bb3d5;
  border: none;
  font-size: 20px;
  height: 50px;
  width: 200px;
}

.section-2 {
  height: 60vh;
  background-color: #e4ebf0;
}

.sect {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 140px;
}
