* {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1200px !important;
  margin: 0 auto !important;
}

header {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 0,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url(/imgs/1.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-position: top;
  background-attachment: fixed;
}

.list {
  display: flex;
  align-items: center;
}

.nav1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navi {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}

.logo {
  border: 2px solid white;
  height: 55px;
  width: 55px;
  border-radius: 50%;
}

.logo h1 {
  color: white;
  text-align: center;
  font-size: 42px;
}

.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown :hover {
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 10px;
}

.dropdown-content a {
  color: white;
  padding: 11px 15px;
  text-decoration: none;
  display: block;
  width: 250px;
  font-size: 13px;
}

.dropdown-content a:hover {
  background-color: white;
  color: rgb(75, 75, 236);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.tel {
  color: white;
  display: flex;
  gap: 10px;
  align-items: center;
}

.phone {
  font-size: 50px;
}
.text {
  padding-top: 25px;
}

.word {
  color: white;
  margin-top: 50px;
  text-align: center;
}

.word-1 {
  color: #2bb3d5;
}

.word-1 h2 {
  font-size: 50px;
}
.word-2 h1 {
  font-size: 80px;
}
.word-3 h3 {
  font-size: 40px;
}
.word-4 h4 {
  font-size: 30px;
}

.contact {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.button-1 {
  font-size: 22px;
  background-color: #2bb3d5;
  align-items: center;
  height: 40px;
  width: 200px;
}

.button-1 a {
  color: white;
  text-decoration: none;
  padding-left: 30px;
}
.button-1 :hover {
  color: white;
  background-color: #309db8;
}

.button-2 {
  font-size: 22px;
  background-color: #2bb3d5;
  align-items: center;
  height: 40px;
  width: 200px;
}

.button-2 a {
  color: white;
  text-decoration: none;
  padding-left: 50px;
}

.button-2 :hover {
  color: white;
}

.second {
  background-color: #e4ebf0;
  height: 60vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  align-items: center;
}

.book {
  color: #19c5f0;
  font-size: 60px;
}
.fill-bag {
  color: #19c5f0;
  font-size: 60px;
}
.quot {
  color: #19c5f0;
  font-size: 60px;
}

.lorem-1 {
  padding-left: 30px;
  padding-top: 30px;
}

.company {
  text-align: center;
}

.bold {
  font-size: 20px;
}

.lorem-text {
  display: flex;
  gap: 30px;
}

.icon-apple {
  color: #2bb3d5;
}

.icon-windows {
  color: #2bb3d5;
}
.icon-envelope {
  color: #2bb3d5;
}

.icon-heart {
  color: #2bb3d5;
}

.icon-suitcase {
  color: #2bb3d5;
}

.icon-tags {
  color: #2bb3d5;
}

.lorem-all {
  display: flex;
  gap: 30px;
}

.lorem-image {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  transition: content 0.5s ease;
  align-items: center;
}

.lorem-image :hover {
  transition: content 0.5s;
  opacity: 0.8;
}
